.NavigationItem{
    height: 100%;
    margin: 0;
    width: auto;
    align-items: center;
    box-sizing: border-box;
    display: flex;
}
.NavigationItem a {
    color: white;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
}
.NavigationItem:active,
.NavigationItem:hover{
    background-color: #8F5C2C;
    border-bottom: 4px solid #40A4C8;
    color: white;
}